<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web_app Index Page</title>
    <link rel="stylesheet" href= "{% static 'css/style.css' %}"/>


</head>
<body>
    <h1> Hello World!! This line is printed fron index.html</h1>
        <p> index.html is a part of Templates/first_apps directory<br>
            Templates are used to have different types of views<br> 
            We can display dynamic content also, from viws.py </p>
        <h2>{{insert_me}} </h2>
        <img src="{% static 'images/biyaass.jpg' %}" alt="My image" width="50%">
      

    
</body>
</html>
